################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ProductServicesApp/obj
/ProductServicesApp/bin/Debug/net8.0
