@inherits LayoutComponentBase
@layout AccountLayout

<h4>Manage your account</h4>

<div>
 
    <hr />
    <div class="container my-3 align-content-center" >
        <div class="row">
            <div class="col-md-3 mb-3">
                <ManageNavMenu />
            </div>
            <div class="col-md-8 mt-md-3">
                @Body
            </div>
        </div>
    </div>
   
</div>
